cmake-build-debug/
.idea
idea/*
build/
x64/
server/x64
client/x64
.vs/
Win32/
Release/
Debug/
CMakeFiles/
*.cbp
Makefile
r-type-server
r-type-client
CMakeCache.txt
cmake_install.cmake
